/*
Theme Name: Reviews
Description: Description goes here.
Author: Morten Rand-Hendriksen
Version: 0.1
Template: simone
*/

@import url('../simone/style.css'); 

.movie-info {
    background: hsl(0, 0%, 95%);
    margin-bottom: 2rem;
}

.movie-poster img {
    display: block;
}

.movie-data,
.short-review {
    width: 100%;
    padding: 2rem 2rem 0;
    font-family: 'Lato', sans-serif;
}

.movie-tax {
    margin-bottom: 1.5rem;
    font-size: 16px;
}

.entry-content .movie-data-title {
    font-size: 1.8rem;
    margin-bottom: 0;
}

.short-review {
    clear: both;
}
.short-review p {
    font-size: 16px;
}

@media screen and (min-width: 446px) {
    .movie-poster,
    .movie-data {
        max-width: 50%;
        float: left;
    }
}

@media screen and (min-width: 750px){
    .short-review {
        padding-top: 0;
        max-width: 50%;
        float: left;
        clear: none;
    }
} 

.reviewer-name {
    width: 70px;
    display: inline-block;
}
.grey {
    color: hsl(0, 0%, 70%);
}